# Add detection for misc languages
*.yaml linguist-detectable=true
*.yaml linguist-documentation=false 

helm/templates/*.yaml linguist-language=Go-Template
helm/templates/*.yaml linguist-detectable=true