*.env
*.envrc
*.iso
*.tfstate
kubeconfig
omniconfig
talosconfig
# Used to store sensitive configurations for omni
omni/bootstrap/.generated/**
!omni/bootstrap/.generated/.gitkeep




## delete me when deployment is done ##
virtualslop/**
slopenbao/**
archive/**
updatejustfile.md