*.env
*.envrc
*.iso
*.tfstate
*.tfstate.*
.terraform
kubeconfig
kubeconfig.*
omniconfig
omniconfig.*
talosconfig
talosconfig.*
.DS_Store
# Used to store sensitive configurations for omni
omni/.generated/**
!omni/.generated/.gitkeep




## delete me when deployment is done ##
proxslop/**
slopenbao/**
archive/**
planning.md
chores.md
cloudloadbalancer.sh