# Add to gitignore all of the garbage files that should never be part of the final system,
# this excludes chores.md since its the current planning resource, although it will also be
# deleted on the final deployment.

vmisc/**
taloslop/**
envoy-crds.yaml
test-image.yaml
sys-bootstrap.sh