{{- $resourceSet := fromYaml (readFile "../../kubernetes/flux/cluster/platform/inputprovider.yaml") -}}

{{- $chartUrl := "" -}}
{{- $chartTag := "" -}}

{{- range $resourceSet.spec.defaultValues -}}
  {{- if eq .name $.Release.Name -}}
    {{- $chartUrl = .source.url -}}
    {{- $chartTag = .source.tag -}}
  {{- end -}}
{{- end -}}

{{- if not $chartUrl -}}
  {{- fail (printf "Could not find resource input matching release name: %s" .Release.Name) -}}
{{- end -}}

chart: {{ $chartUrl }}
version: {{ $chartTag }}