{{- $main := fromYaml (readFile (printf "../../kubernetes/deployment/platform/%s/%s/app/source.yaml" .Release.Namespace .Release.Name)) -}}
chart: {{ $main.spec.url }}
version: {{ $main.spec.ref.tag }}