# OpenBao credentials for the external secrets operator.
---
apiVersion: v1
kind: Secret
metadata:
  name: vault-token
  namespace: external-secrets
type: Opaque
stringData:
  token: ${TOKEN}
# Domain name for Flux PostBuild Substitute.
---
apiVersion: v1
kind: Secret
metadata:
  name: domain
  namespace: flux-system
  labels:
    reconcile.fluxcd.io/watch: Enabled
type: Opaque
stringData:
  DOMAIN: ${DOMAIN}
