{
	acme_dns cloudflare ${CLOUDFLARE_API_TOKEN}
}

# Main Omni API
${OMNI_DOMAIN} {

	# Route gRPC requests to the gRPC backend.
	@grpc {
		header Content-Type application/grpc*
	}
	handle @grpc {
		reverse_proxy h2c://127.0.0.1:8080 {
			transport http {
				read_timeout 1h
				write_timeout 1h
			}
		}
	}

	# Regular HTTP/WebSocket traffic.
	handle {
		reverse_proxy 127.0.0.1:8080 {
			transport http {
				read_timeout 1h
				write_timeout 1h
			}

			header_up Upgrade {http.request.header.Upgrade}
			header_up Connection {http.request.header.Connection}
		}
	}
}

# SideroLink (Machine) API
api.${OMNI_DOMAIN} {

	reverse_proxy h2c://127.0.0.1:8090 {
		transport http {
			read_timeout 1h
			write_timeout 1h
		}
	}
}

# Kubernetes Proxy API
kube.${OMNI_DOMAIN} {

	reverse_proxy 127.0.0.1:8095 {
		transport http {
			read_timeout 1h
			write_timeout 1h
		}

		header_up Upgrade {http.request.header.Upgrade}
		header_up Connection {http.request.header.Connection}
	}
}

# Dex authentication domain
auth.${OMNI_DOMAIN} {
    reverse_proxy 127.0.0.1:5556
}