# Generate the namespaces alongside the secrets so said secrets can be created.

# OpenBao credentials for the external secrets operator.
---
apiVersion: v1
kind: Secret
metadata:
  name: bao-token
  namespace: external-secrets
type: Opaque
stringData:
  BAO_TOKEN: ${BAO_TOKEN}
---
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
# Domain name for Flux PostBuild Substitute.
---
apiVersion: v1
kind: Secret
metadata:
  name: domain
  namespace: flux-system
type: Opaque
stringData:
  DOMAIN: ${DOMAIN}
---
apiVersion: v1
kind: Namespace
metadata:
  name: flux-system
